<!DOCTYPE html>
<html lang="pt" dir='ltr'>
<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-142312292-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-142312292-1');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta content='Escola Master - Ensino Médio, Fundamental e Infantil! DESCONTOS e PROMOÇÕES - escolamaster@hotmail.com.br.
    O Colégio Master é uma escola particular localizada em Brasília/DF, no bairro São José em São Sebastião. 
    Inspirada nos princípios de liberdade e nos ideais de solidariedade e fraternidade humana a escola tem por finalidade em sua educação o pleno desenvolvimento do educando, seu preparo para o exercício da cidadania e sua preparação para o trabalho.
    (61) 3335-7458 - Geral,
    (61) 3335-4522 - Master I,
    (61) 3339-0012 - Master II,
    Bairro São José - São Sebastião, Brasília-DF, 71693-026.
    Venha conhecer nosso colégio!' name='description'>
    <title><%- h_title %></title>
    <link rel="canonical" href="/home">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" async>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous" async>
    <!--RESOURCES-->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/site.css">
    <link rel="icon" href="/res/icone-logo2.ico" type="image/x-icon"/>
    <script src="/js/lazysizes.min.js" async></script>
    <!-- <script async src="/js/jquery.simplr.smoothscroll.js"></script>
    <script async src="/js/jquery.mousewheel.min.js"></script> -->
</head>
    <body class='background-home'>
    <div class="page">
        <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-master d-lg-block text-center m-0 p-0">
            <div class="brand-col align-self-start m-auto">
            <a class="navbar-brand p-0 cmbtn" href="/home" alt='Colégio Master - São Sebastião'><span class="fonte colegio">Escola</span><span class="fonte master">Master</span></a>
            </div>
            <button class="navbar-toggler px-3 py-2 m-2" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
        	<div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Margin auto -->
        	    <ul class="navbar-nav m-auto text-left">
                    <% var j = 0; %>
                    <% menus.forEach((menu)=>{ %>
                        <% if(menu.plataformas){ %>
                        <% } else{ %>
                        <% if (j < 6){ %>
        	        <li class="nav-item px-sm-2 px-md-0 px-xl-2 pt-4 pt-md-1">
        	        	<a class="nav-link p-1 cmbtn"  id='selector' href="<%=menu.url%>"><%-menu.nome%></a>
                    </li> 
                        <% } else { %>
                            <% if(j === 6){ %>
                            <li class="nav-item dropdown px-sm-2 px-md-0 px-xl-2 pt-4 pt-md-1">
                                <a class="nav-link dropdown-toggle p-1" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Ver mais
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <% } %>
                                    <a class="dropdown-item cmbtn p-2" href="<%=menu.url%>"><%-menu.nome%></a>
                            <% if (j === menus.length){ %>
                                    </div>
                            </li>
                            <% } %>
                        <% } %>
                        <% j++; %>
                        <% } %>
                    <% }); %>
        		</ul>
            </div>
        </nav>
        <noscript>
            <div class="row justify-content-md-center text-center fixed-top m-0">
                <div class="alert alert-danger col-md-12 text-center" role="alert">Ative o javascript para continuar. =)</div>
            </div>
        </noscript>
        <div class="page-main">