<main>
    <h2 id='main'>Home</h2>
        <div class="container">
    	<div class="col-md-8 col-lg-6 mx-auto">
    		<div class="form-bot mx-auto my-5">
    			<h4 class="font-form-bot">Marque sua visita!</h4>
    				<div class="font-form pt-5">
    					<div><a href='https://www.google.com/maps/place/Escola+Master/@-15.9077756,-47.7641344,17z/data=!3m1!4b1!4m5!3m4!1s0x935a1f8702cbf41d:0xb378434566a4cc2!8m2!3d-15.9077808!4d-47.7619457'><%=contato.location%></a></div>
    					<div class="pt-2"><%=contato.email%></div>
    					<div class="pt-2"><%=contato.telefone1%></div>
    					<div><%=contato.telefone2%></div>
    					<div><%=contato.telefone3%></div>
    					<div class="pt-4">HORÁRIO DE FUNCIONAMENTO</div>
    					<div>Seg - Sex: 7:00 - 12:00 / 13:00 - 18:00</div>
    				</div>
    				<form class='form-group' data="/contato/mensagem" id='new'>
    					  <div class="form-row pt-4">
    					    <div class="col-md-6 mb-3">
    					      <input type='text' name="message[nome]" class="form-control form-control-sm" id="validationTooltip01" placeholder="Nome e sobrenome" required>
    					    </div>
    						 <div class="col-md-6 mb-3">
    					      <input type='email' name="message[email]" class="form-control form-control-sm" id="colFormLabelSm" placeholder="Email" required>
    					    </div>
    					    <div class="col-md-6 mb-3">
    					      <input type='text' minlength="9" maxlength="11" name="message[telefone]" class="form-control form-control-sm" id="colFormLabelSm" placeholder="Telefone para contato"  required>
    					    </div>
    					    <div class="col-md-6 mb-3">
    						  <textarea class="form-control noresize" rows="5" placeholder="Sua mensagem!" name='message[texto]' maxlength="250" required></textarea>
    						</div>
    					  </div>
    				  		<button class="btn btn-em" type="submit">Enviar mensagem</button>
    				</form>
    				<div class="font-form">
    				<a class="sm-ico" href="#"><i class="fab fa-youtube fa-2x yt"></i></a>
    				<a class="sm-ico" href="#"><i class="fab fa-instagram fa-2x ig"></i></a>
    				<a class="sm-ico" href="#"><i class="fab fa-facebook-square fa-2x"></i></a>
    				</div>
    		</div>
    	</div>
</main>